{% extends 'layout.html' %}

{% block titre %}
    Administration
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">WWW-Sites-Status</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto my-2 my-lg-0"></ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Déconnexion <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="container-fluid body-container">
        <div class="col-lg-4 offset-lg-4">
            <div class="card rounded-0">
                <div class="card-header">
                    <h2 class="text">Supprimer le site : {{ sites[1] }}</h2>
                </div>
                <div class="card-body">
                    <form action="" method="POST"  >
                    <a href="/admin/">
                        <input type="button" value="Annulez" class="btn btn-secondary btn-lg">
                        </input>
                    </a>
                        <input type="submit" value="Supprimer" class="btn btn-danger btn-lg"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}