{% extends 'layout.html' %}

{% block titre %}
    Administration
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">WWW-Sites-Status</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto my-2 my-lg-0">
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Déconnexion <span class="sr-only">(current)</span></a>
            </li>

        </ul>
      </div>

    </nav>
    <section class="container-fluid body-container">

    <div class="col-lg-4 offset-lg-4">
            <div class="card rounded-0">
                <div class="card-header">
                    <h1>Administration</h1>
                </div>
                <div class="card-body">
                    <a href="{{ url_for('add') }}">
                        <input type="button" value="Ajoutez site" class="btn btn-lg">
                        </input>
                    </a>
                    {% for site in sites %}
                        <p>
                            {{ site[0] }} {{ site[1] }}
                            <a href="{{ url_for('edit', id=site[0]) }}">
                                <input type="button" value="editer" class="btn btn-primary btn-lg">
                                </input>
                            </a>
                            <a href="{{ url_for('delete', id=site[0]) }}">
                                <input type="button" value="supprimer" class="btn btn-danger btn-lg">
                                </input>
                            </a>
                        </p><br>
                    {% endfor %}
                </div>
            </div>
    </div>
    </section>
    <div id="flash-messages-container"/>
{% endblock %}